---
  - name: "BUILD - Get the current release"
    get_url: dest="{{ eb_build_path }}" url={{ download_url }}

  - name: "BUILD - Unarchive it"
    unarchive: dest={{ releases_dir }} src={{ build_path }} copy=no

  - name: "BUILD - Install default application settings"
    copy:
      src: "{{ release_dir }}/etc/openconext/engineblock.ini"
      dest: /etc/openconext/engineblock.ini
      force: no

  - name: "BUILD - Legacy: Remove obsolete profile.d/openconext.sh"
    file: path=/etc/profile.d/openconext.sh state=absent

  - name: "BUILD - Legacy: Move /var/log/surfconext to /var/log/openconext"
    command: mv /var/log/surfconext {{ logging_dir }}
    ignore_errors: yes

  - name: "BUILD - Install logging directory"
    file: path={{ logging_dir }} state=directory

  - name: "BUILD - Legacy: Install symlink from /var/log/surfconext to /var/log/openconext"
    file: path=/var/log/surfconext src={{ logging_dir }} state=link