---
- name: Provision EngineBlock
  hosts: engine
  remote_user: "{{ remote_user }}"

  vars:
    temp_dir: "/tmp"
    logging_dir: "/var/log/openconext"
    releases_dir: "/opt/openconext"
    release_dir: "{{ releases_dir }}/OpenConext-engineblock-{{ version }}"
    builds_dir: "{{ releases_dir }}/builds"
    build_path: "{{ builds_dir }}/OpenConext-engineblock-{{ version }}.tar.gz"
    current_release_symlink: "/opt/www/engineblock"
    download_url: "https://github.com/OpenConext/OpenConext-engineblock/releases/download/{{ version }}/OpenConext-engineblock-{{ version }}.tar.gz"
    config:
      auth.simplesamlphp.idp.certificate : /etc/surfconext/engineblock.default.pem
      auth.simplesamlphp.idp.location : "https://engine.demo.openconext.org/authentication/idp/single-sign-on"
      auth.simplesamlphp.idp.entityId : "https://engine.demo.openconext.org/authentication/idp/metadata"
      cookie.lang.domain : "demo.openconext.org"
      cookie.lang.expiry : "60*60*24*60"
      database.master1.user : "{{ engine_db_user }}"
      database.master1.dsn : "mysql:host:{{ engine_db_host }};dbname:{{ engine_db_name }}"
      database.master1.password : "{{ engine_db_password }}"
      database.masters[] : "master1"
      database.slaves[] : "master1"
      dynamicAssets : true
      email.sendWelcomeMail : 0
      encryption.keys.default.privateFile : /etc/surfconext/engineblock.key
      encryption.keys.default.publicFile : /etc/surfconext/engineblock.crt
      ldap.accountDomainName : "surfconext.nl"
      ldap.baseDn : "dc:surfconext,dc:nl"
      ldap.host : "ldap.demo.openconext.org"
      ldap.useSsl : 0
      ldap.userName : "{{ engine_ldap_binddn }}"
      ldap.password : "{{ engine_ldap_password }}"
      logs.file.writername : "Stream"
      logs.file.writerparams.stream : "/var/log/surfconext/engineblock.log"
      serviceRegistry.location : "https://serviceregistry.demo.openconext.org/simplesaml/module.php/janus/services/rest/"
      serviceRegistry.user : "engine"
      serviceRegistry.user_secret : "engineblock"

  tasks:
  - name: Make sure a database exists
    mysql_db:
      state:          present
      name:           "{{ engine_db_name }}"
      login_host:     "{{ engine_db_host }}"
      login_port:     "{{ engine_db_port }}"
      login_user:     "{{ admin_db_user }}"
      login_password: "{{ admin_db_password }}"
      encoding:       utf8
      collation:      utf8_unicode_ci
    register: engine_db_install

  - name: Make sure a user exists
    mysql_user:
      state:          present
      name:           "{{ engine_db_user }}"
      password:       "{{ engine_db_password }}"
      priv:           "{{ engine_db_name }}.*:ALL"
      login_host:     "{{ engine_db_host }}"
      login_port:     "{{ engine_db_port}}"
      login_user:     "{{ admin_db_user }}"
      login_password: "{{ admin_db_password}}"

  - name: Write out SQL file with proper domain
    template: src=data/engineblock.sql.j2 dest=/tmp/domain.engineblock.sql
    when: engine_db_install.changed

  - name: Install initial Database schema when a new database was created
    mysql_db:
      name:           "{{ engine_db_name }}"
      login_host:     "{{ engine_db_host }}"
      login_port:     "{{ engine_db_port}}"
      login_user:     "{{ engine_db_user }}"
      login_password: "{{ engine_db_password}}"
      state: import
      target: /tmp/domain.engineblock.sql
    when: engine_db_install.changed

#  - name: Make sure LDAP database exists

  - name: Ensure the directories exists
    file: path={{ item }} state=directory
    with_items:
    - "{{ releases_dir }}"
    - "{{ builds_dir }}"

  - name: Install Engine from Build (only when version starts with a number)
    include: install-engine.yml
    when: version | match("^[0-9]")

  - name: Install Engine from source (only when version does not start with a number)
    include: install-engine-src.yml
    when: version | match("^[^0-9]")

  - name: Migrate the configuration file
    command: "{{ release_dir }}/bin/migrate_etc.php"

  - name: Install migrated configuration file
    command: install -b /etc/surfconext/engineblock.ini.new /etc/surfconext/engineblock.ini

  - name: Detect default certificates.
    stat: path=/etc/openconext/engineblock.key
    register: default_cert

  - name: Generate new default certificate if none was found.
    command: openssl req -subj '/CN=Engine/OU=Services/O=OpenConext/C=NL/' -newkey rsa:2048 -new -x509 -days 3652 -nodes -out engineblock.crt -keyout engineblock.key
    args:
      chdir: /etc/openconext
    when: default_cert.stat.exists == false

  - name: Set configuration
    ini_file:
      dest: /etc/openconext/engineblock.ini
      section: "local"
      option: "{{ item.key }}"
      value: "{{ item.value }}"
    with_dict: config

  - name: Update LDAP
    command: ldapmodify -x -D "{{ admin_ldap_binddn }}" -h localhost -w "{{ admin_ldap password }}" -f {{ item }}
    with_items:
      - "{{ release_dir }}/ldap/changes/addDeprovisionWarningSentAttributes.ldif"
      - "{{ release_dir }}/ldap/changes/addCollabPersonUUID.ldif"
    ignore_errors: true

  - name: Run EngineBlock migrations
    command: ./bin/migrate
    args:
      chdir: "{{ release_dir }}"

  - name: Activate new EngineBlock
    file: src={{ release_dir }} dest={{ current_release_symlink }} state=link