<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="5"/>
        <param name="File" value="/var/log/tomcat6/coin-dev.log"/>
        <param name="threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="ravefile" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="5"/>
        <param name="File" value="/var/log/tomcat6/rave-dev.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>
 
    <appender name="spring-sec" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="5"/>
        <param name="File" value="/var/log/tomcat6/spring-sec-dev.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>
    
    <appender name="debugfile" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="5"/>
        <param name="File" value="/var/log/tomcat6/coin-debug.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="info"/>
            <param name="LevelMax" value="debug"/>
        </filter>
    </appender>

    <!-- Hibernate -->
    <logger name="org.hibernate">
        <level value="info"/>
        <appender-ref ref="debugfile"/>
    </logger>

    <!-- Spring -->
    <logger name="org.springframework">
        <level value="warn"/>
    </logger>

    <!-- coin specific classes -->
    <logger name="nl.surfnet.coin">
        <level value="debug"/>
    </logger>

    <logger name="org.apache.shindig">
        <level value="debug"/>
    </logger>

    <logger name="org.apache.rave">
        <level value="info"/>
        <appender-ref ref="ravefile"/>
    </logger>
     <logger name="org.apache.rave.provider.opensocial">
        <level value="debug"/>
        <appender-ref ref="ravefile"/>
    </logger>

     <logger name="org.springframework.security">
        <level value="debug"/>
    </logger>

    <!-- root logger, set to high level -->
    <root>
        <level value="warn"/>
        <appender-ref ref="file"/>
    </root>

</log4j:configuration>
