-- MySQL dump 10.13  Distrib 5.1.61, for redhat-linux-gnu (x86_64)
--
-- Host: localhost    Database: engineblock
-- ------------------------------------------------------
-- Server version	5.1.61

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `consent`
--

LOCK TABLES `consent` WRITE;
/*!40000 ALTER TABLE `consent` DISABLE KEYS */;
INSERT INTO `consent` VALUES
('2012-06-27 09:01:37','2012-06-27 09:01:37','4e20080aba70103a60039bf19fdac0c4fb7ce367','https://manage.{{ openconext_domain }}/simplesaml/module.php/saml/sp/metadata.php/default-sp','f8fff30971a5477e0721ce45aa5dd7ad83b6848e'),
('2012-06-27 09:13:32','2012-06-27 09:13:32','4e20080aba70103a60039bf19fdac0c4fb7ce367','https://serviceregistry.{{ openconext_domain }}/simplesaml/module.php/saml/sp/metadata.php/default-sp','f8fff30971a5477e0721ce45aa5dd7ad83b6848e');
/*!40000 ALTER TABLE `consent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `emails`
--

LOCK TABLES `emails` WRITE;
/*!40000 ALTER TABLE `emails` DISABLE KEYS */;
INSERT INTO `emails` VALUES (1,'introduction_email','Dear {user},<br />\r\n<br />\r\nThis mail is a confirmation that we have created a profile for you on the SURFconext platform. Please visit https://profile.surfconext.nl to see and manage your profile. If you have any questions regarding this mail please contact help@surfconext.nl.<br />\r\n<br />\r\nBest regards, Surfconext ','help@surfconext.nl','Welcome to SURFconext',1),
(2,'deprovisioning_warning_email','Dear {user},<br /><br />This mail is to inform you that you will be deprovisioned at {deprovision_time}. If you have any questions regarding this mail please contact help@surfconext.nl.<br /><br />You will be deleted as a member of all the groups. Currently you are member of the following groups:<br />{groups}<br />In the groups displayed below you are the only administrator. Please make another member administrator before you are deprovisioned, for these teams will be without an administrator otherwise.&nbsp;<br />{onlyAdminGroups}<br />Best regards,<br />SURFconext','help@surfconext.nl','Deprovisioning SURFconext',NULL),
(3,'deprovisioning_warning_email_group_members','Dear {user},<br />\r\n<br />\r\nThis mail is to inform you that your administrator in team {team} will be deprovisioned at {deprovision_time}. If you have any questions regarding this mail please contact help@surfconext.nl.<br />\r\n<br />\r\nBest regards<br />, SURFconext','help@surfconext.nl','Deprovisioning  SURFconext',NULL);
/*!40000 ALTER TABLE `emails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `group_provider`
--

LOCK TABLES `group_provider` WRITE;
/*!40000 ALTER TABLE `group_provider` DISABLE KEYS */;
INSERT INTO `group_provider` VALUES (1,'grouper','SURFteams grouper','EngineBlock_Group_Provider_Grouper','SURFteams grouper');
/*!40000 ALTER TABLE `group_provider` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `group_provider_decorator`
--

LOCK TABLES `group_provider_decorator` WRITE;
/*!40000 ALTER TABLE `group_provider_decorator` DISABLE KEYS */;
INSERT INTO `group_provider_decorator` VALUES (1,1,'EngineBlock_Group_Provider_Decorator_GroupIdReplace');
/*!40000 ALTER TABLE `group_provider_decorator` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `group_provider_decorator_option`
--

LOCK TABLES `group_provider_decorator_option` WRITE;
/*!40000 ALTER TABLE `group_provider_decorator_option` DISABLE KEYS */;
INSERT INTO `group_provider_decorator_option` VALUES (1,'replace','$1'),
(1,'search','|urn:collab:group:teams.{{ openconext_domain }}:(.+)|');
/*!40000 ALTER TABLE `group_provider_decorator_option` ENABLE KEYS */;
UNLOCK TABLES;
--
-- Dumping data for table `group_provider_filter`
--

LOCK TABLES `group_provider_filter` WRITE;
/*!40000 ALTER TABLE `group_provider_filter` DISABLE KEYS */;
INSERT INTO `group_provider_filter` VALUES (1,1,'group','EngineBlock_Group_Provider_Filter_ModelProperty_PregReplace');
/*!40000 ALTER TABLE `group_provider_filter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `group_provider_filter_option`
--

LOCK TABLES `group_provider_filter_option` WRITE;
/*!40000 ALTER TABLE `group_provider_filter_option` DISABLE KEYS */;
INSERT INTO `group_provider_filter_option` VALUES (1,'property','id'),
(1,'replace','urn:collab:group:teams.{{ openconext_domain }}:$1'),
(1,'search','|(.+)|');
/*!40000 ALTER TABLE `group_provider_filter_option` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `group_provider_option`
--

LOCK TABLES `group_provider_option` WRITE;
/*!40000 ALTER TABLE `group_provider_option` DISABLE KEYS */;
INSERT INTO `group_provider_option` VALUES (1,'host','grouper.{{ openconext_domain }}'),
(1,'password','KJ75DFeg32a'),
(1,'path','/grouper-ws/servicesRest'),
(1,'protocol','https'),
(1,'timeout','10'),
(1,'user','engine'),
(1,'version','v1_6_000');
/*!40000 ALTER TABLE `group_provider_option` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `log_logins`
--

LOCK TABLES `log_logins` WRITE;
/*!40000 ALTER TABLE `log_logins` DISABLE KEYS */;
INSERT INTO `log_logins` VALUES
('2012-06-27 09:13:33','urn:collab:person:example.com:john.doe','https://serviceregistry.{{ openconext_domain }}/simplesaml/module.php/saml/sp/metadata.php/default-sp','http://mock-idp','OpenConext ServiceRegistry','OpenConext Mujina','Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:13.0) Gecko/20100101 Firefox/13.0.1',NULL,1);
/*!40000 ALTER TABLE `log_logins` ENABLE KEYS */;
UNLOCK TABLES;


--
-- Dumping data for table `saml_persistent_id`
--

LOCK TABLES `saml_persistent_id` WRITE;
/*!40000 ALTER TABLE `saml_persistent_id` DISABLE KEYS */;
INSERT INTO `saml_persistent_id` VALUES ('9a26dd18d7f33511b4a98d838cae09543ce5f171','b06b98b0-c036-11e1-b910-cd9212b8c0d3','5e5717a0-c038-11e1-8b8e-234ffa2d0a60'),
('3f18e71b45ef07f3110e3cb418bdeb1be0c9ef83','b06b98b0-c036-11e1-b910-cd9212b8c0d3','b416cbc0-c036-11e1-b5a6-216cccc3b1fc');
/*!40000 ALTER TABLE `saml_persistent_id` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `service_provider_group_acl`
--

LOCK TABLES `service_provider_group_acl` WRITE;
/*!40000 ALTER TABLE `service_provider_group_acl` DISABLE KEYS */;
INSERT INTO `service_provider_group_acl` VALUES (1,1,'https://engine.{{ openconext_domain }}/authentication/sp/metadata',1,1),
(2,1,'https://profile.{{ openconext_domain }}/simplesaml/module.php/saml/sp/metadata.php/default-sp',1,1),
(3,1,'https://manage.{{ openconext_domain }}/simplesaml/module.php/saml/sp/metadata.php/default-sp',1,1),
(4,1,'https://serviceregistry.{{ openconext_domain }}/simplesaml/module.php/saml/sp/metadata.php/default-sp',1,1),
(5,1,'http://mock-sp',1,1),
(6,1,'https://grouper.{{ openconext_domain }}/grouper/shibboleth',1,1),
(7,1,'https://teams.{{ openconext_domain }}/shibboleth',1,1),
(8,1,'https://csa.{{ openconext_domain }}/',1,1),
(9,1,'https://dashboard.{{ openconext_domain }}/',1,1);
/*!40000 ALTER TABLE `service_provider_group_acl` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `service_provider_uuid`
--

LOCK TABLES `service_provider_uuid` WRITE;
/*!40000 ALTER TABLE `service_provider_uuid` DISABLE KEYS */;
INSERT INTO `service_provider_uuid` VALUES
('5e5717a0-c038-11e1-8b8e-234ffa2d0a60','https://serviceregistry.{{ openconext_domain }}/simplesaml/module.php/saml/sp/metadata.php/default-sp'),
('b416cbc0-c036-11e1-b5a6-216cccc3b1fc','https://manage.{{ openconext_domain }}/simplesaml/module.php/saml/sp/metadata.php/default-sp');
/*!40000 ALTER TABLE `service_provider_uuid` ENABLE KEYS */;
UNLOCK TABLES;

/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2012-06-27 10:51:18
